.infoBarWrapper {
   .infoBar {
      padding: 2.5rem;
      margin: 5rem auto;
      background-color: var(--primary-color);
      display: flex;
      gap: 2.5rem;
      color: var(--white);
      border-radius: 1.5rem;

      .info {
         text-align: center;

         h3 {
            font-family: "Zalando Sans Expanded", sans-serif;
            font-weight: 700;
         }

         p {
            font-size: 1rem;
            margin-bottom: 0;
         }
      }
   }
}

/* Responsiveness */
@media (max-width: 767.98px) {
   .infoBar {
      flex-direction: column;
      align-items: center;
   }
   .info{
      width: 70%;
   }
}

@media (max-width: 767.98px) {
   .infoBar{
      width: 95%;
      /* margin-left: auto !important;
      margin-right: auto !important; */
   }
}