.infoBarWrapper {
   .infoBar {
      padding: 2.5rem;
      margin: 5rem 0;
      background-color: var(--primary-color);
      display: flex;
      gap: 2.5rem;
      color: var(--white);
      border-radius: 1.5rem;

      .info {
         text-align: center;

         h3 {
            font-family: "Zalando Sans Expanded", sans-serif;
            font-weight: 700;
         }

         p {
            font-size: 1rem;
            margin-bottom: 0;
         }
      }
   }
}