.testimonialsWrapper {
   padding: 2rem 0;
}

.testimonials .heading {
   margin: 3rem 0;

   h2 {
      font-family: "Zalando Sans Expanded", sans-serif;
      font-weight: 700;
      text-align: center;
      font-size: clamp(1rem, 1.5rem + 2vw, 2.5rem);
   }

   p {
      text-align: center;
      font-size: clamp(.7rem, .7rem + 1vw, 1rem);
      font-weight: 500;
      color: var(--text-light);
      text-transform: capitalize;
      margin-bottom: .5rem;
   }
}

.testimonialCardsWrapper {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.card {
   width: 10rem;
   height: 5rem;
   margin-right: 1.5rem;
   padding: 1rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   transition: all .3s ease;
}

.testimonialCards :global(.rfm-marquee-container) {
   padding: .5rem 0;
   overflow-y: hidden;
}

/* Responsiveness */
@media (max-width: 1199.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {
   .testimonialsWrapper {
      padding: 0;
   }

   .testimonialCardsWrapper {
      gap: .5rem;
   }

   .card {
      width: 9rem;
      padding: .5rem;
   }
}

@media (max-width: 399.98px) {}