.businessSegments {
   padding: 2rem;

   h2 {
      font-family: "Zalando Sans Expanded", sans-serif;
      font-weight: 700;
      text-align: center;
      font-size: clamp(1rem, 1.5rem + 2vw, 2.5rem);
      text-transform: capitalize;
      margin: 0 0 3rem 0;
   }
}

.cardItem {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 1rem;
   background-color: white;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px -10px;
   padding: 1rem;
   border-radius: 1.5rem;
   transition: all .3s ease;

   &:hover {
      scale: 1.025;
   }

   h3 {
      text-transform: capitalize;
      font-weight: 600;
      font-size: 1.35rem;
      line-height: 1.5rem;
   }

   p {
      opacity: .8;
      font-size: .9rem;
   }
}

/* Responsiveness */
@media (max-width: 575.98px) {
   .cardsWrap {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .cards {
      width: 120%;
   }
}