.hero {
   height: 95vh;
   position: relative;
   padding-top: 8rem;
   margin-bottom: 2rem;
}

.heroContent {
   height: 100%;
   display: flex;
   align-items: center;
}

.heroText {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 1rem;


   h1 {
      font-family: "Zalando Sans Expanded", sans-serif;
      text-transform: capitalize;
      font-weight: 700;
      font-size: 3.3rem;
      line-height: 4rem;
   }

   p {
      text-transform: capitalize;
      margin-bottom: 0;
   }

   .mailSection {
      width: 90%;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      input {
         flex: 1;
         padding: 1rem 1.5rem;
         border: 1px solid rgba(0, 0, 0, .5);
         border-radius: 3rem;
         font-size: 0.8rem;
      }

      button {
         width: 3rem;
         height: 3rem;
         background-color: var(--primary-color);
         border-radius: 50%;
         color: white;
         box-shadow: 2px 2px 10px -5px black;
      }
   }

   .heroContact {
      text-transform: capitalize;

      a {
         font-weight: 500;

         &:hover {
            text-decoration: underline;
         }
      }
   }
}

.ratingSection {
   width: 85%;
   display: flex;
   justify-content: space-between;

   .customers {
      display: flex;
      gap: 1rem;

      img {
         width: 6rem;
      }

      h3 {
         font-weight: 600;
         margin-bottom: .1rem;
      }

      p {
         font-size: .8rem;
         opacity: .8;
      }
   }

   .border {
      height: 3rem;
      border: 0.1rem solid rgba(0, 0, 0, .15);
   }

   .rating {
      h3 {
         font-weight: 600;
         margin-bottom: .1rem;
      }

      p {
         font-size: .8rem;
         opacity: .8;
      }
   }
}

.heroImage {
   img {
      position: absolute;
      right: -100px;
      top: 60%;
      transform: translateY(-50%);
      max-width: 700px;
      z-index: 2;
   }
}

.heroBgShape {
  position: absolute;
  top: -3rem;
  right: 0;
  width: 700px;
  height: 700px;
  z-index: 1;
}