.onePlatformWrap {
   padding-top: 2rem;
}

.onePlatform {

   h2 {
      font-family: "Zalando Sans Expanded", sans-serif;
      font-weight: 700;
      text-align: center;
      font-size: clamp(1rem, 1.5rem + 2vw, 2.5rem);
      text-transform: capitalize;
      margin: 3rem 0;
   }

   .onePlatformContent {
      display: flex;
      justify-content: space-between;
      position: relative;
   }

   .cards {
      display: flex;
      flex-direction: column;
      gap: 1rem
   }

   .cardItem {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      background-color: white;
      box-shadow: rgba(100, 100, 111, 0.15) 0px 7px 29px -10px;
      padding: 1rem;
      border-radius: 1.5rem;
      transition: all .3s ease;

      &:hover {
         scale: 1.025;
      }

      h3 {
         text-transform: capitalize;
         font-weight: 600;
         font-size: 1.35rem;
         line-height: 1.5rem;
      }

      p {
         opacity: .8;
         font-size: .9rem;
      }
   }

   .onePlatformImg {
      position: absolute;
      right: -180px;
      z-index: 2;
   }
}

/* Responsiveness */
@media (max-width: 1199.98px) {
   .onePlatformImg {
      right: -230px !important;
      width: 70%;
   }
}

@media (max-width: 991.98px) {
   .onePlatformContent {
      justify-content: center !important;
   }

   .cards {
      align-items: center;
   }

   .cardItem {
      width: 95% !important;
   }
}