.tryMyAppWrap {
   background-color: var(--primary-color-mid);
   position: relative;
}

.tryMyApp {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: .25rem;
   padding: 6rem 0;
   position: relative;
   z-index: 1;

   h2 {
      font-family: "Zalando Sans Expanded", sans-serif;
      font-weight: 700;
      text-align: center;
      font-size: clamp(1rem, 1.5rem + 2vw, 2.5rem);
      text-transform: capitalize;
   }

   p {
      text-align: center;
      font-size: clamp(.8rem, .8rem + 2vw, 1rem);
   }

   .featureBtn {
      width: fit-content;
      display: inline-block;
      color: var(--white);
      background-color: var(--primary-color);
      padding: 0.8rem 1.5rem;
      border-radius: 10rem;
      font-weight: 600;
      text-transform: capitalize;
      transition: all .3s ease;

      &:hover {
         color: var(--primary-color);
         background-color: var(--white);
         outline: 1px solid rgba(0, 0, 0, .2);
      }
   }
}

.leftRightGraphics {
   .leftImg {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 450px;
   }

   .rightImg {
      position: absolute;
      right: 0;
      bottom: 0;
      max-width: 450px;
   }
}

/* Responsiveness */
@media (max-width: 991.98px) {
   .leftRightGraphics {

      .leftImg,
      .rightImg {
         max-width: 400px;
      }
   }
}

@media (max-width: 767.98px) {
   .leftRightGraphics {

      .leftImg,
      .rightImg {
         max-width: 350px;
      }
   }
}

@media (max-width: 575.98px) {
   .leftRightGraphics {

      .leftImg,
      .rightImg {
         max-width: 250px;
      }
   }
}