/* .footer {
} */

.footerContent {
   padding: 4rem 0 2rem 0;
}

.logo {
   display: flex;
   align-items: center;
   gap: 1rem;

   h3 {
      font-family: "Zalando Sans Expanded", sans-serif;
      font-size: 1.5rem;
      margin-bottom: 0;
   }
}

.footerPara {
   margin: 1rem 0 .5rem 0;

   p {
      margin-bottom: 0;
   }
}

/* footer quick links..  */
.links,
.legalLinks,
.productLinks,
.newsLetter {
   h3 {
      font-family: "Zalando Sans Expanded", sans-serif;
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 1rem;
   }

   .listList {
      display: flex;
      flex-direction: column;
      gap: .5rem;

      li a {
         color: var(--black);
         transition: .3s all ease;

         &:hover {
            opacity: .7;
         }
      }
   }
}

.contacts {
   display: flex;
   flex-direction: column;
   gap: .5rem;
   margin: 1rem 0;

   span {
      display: flex;
      align-items: center;
      gap: .5rem;

      p {
         margin-bottom: 0;
      }

      .contactIcons {
         color: var(--primary-color);
         font-size: 1.2rem;
      }
   }

}

.mailInput {
   display: flex;
   flex-direction: column;
   gap: .5rem;

   input {
      font-size: 1rem;
      padding: 0.5rem 1rem;
      border: 1px solid rgba(0, 0, 0, .25);
      border-radius: .5rem;
   }

   button {
      width: fit-content;
      color: var(--white);
      background-color: var(--primary-color);
      padding: 0.5rem 1rem;
      border-radius: .5rem;
      font-weight: 400;
      text-transform: capitalize;
      transition: all .3s ease;

      &:hover {
         color: var(--primary-color);
         background-color: var(--white);
         outline: 1px solid rgba(0, 0, 0, .2);
      }
   }
}

.footerDivider {
   margin: 1rem 0;
}

.copyRight {
   text-align: center;

   a {
      color: black;
   }
}