@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

:root {
  --primary-color: #6640FF;
  --secondary-color: rgb(251, 146, 60);

  --primary-color-light: rgba(255, 255, 255, 0.8);
  --primary-color-mid: #F3F7FCFF;
  --primary-color-dark: #0d846c;

  --text-dark: #333333;
  --text-light: #767268;

  --white: #ffffff;
  --black: #000000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  /* user-select: none; */
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
  /* border: none; */
}

ol, ul{
  margin: 0;
  padding: 0;
}